@font-face {
  font-family: "ComicMono";
  src: url("ComicMono.ttf");
}

body {
    font-family: "ComicMono", cursive;
}
.image-list {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: space-around;
}
figure {
    width: min-content;
}
figure img {
    max-height: 7em;
    max-width: 10em;
}
figure figcaption {
    text-align: center;
}

h2 {
    text-align: center;
}

.infobox {
    float: right;
    width: 3em;
    background-color: #EEE;
}


td img {
    max-height: 5em;
    max-width: 5em;
}

tr:nth-child(2n+0) {
    background-color: #EEE;
}

thead {
    font-weight: bolder;
}

tbody {
    border-top: 1px solid black;
}

table {border-collapse: collapse;}
