@font-face {
  font-family: "ComicMono";
  src: url("ComicMono.ttf");
}

a.dagger {
  text-decoration: none;
}
a.cite {
  text-decoration: none;
}

body {
  font-family: "ComicMono", cursive;
  max-width: max(66em, 80vw);
  margin: 1em auto;
}
.image-list {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: space-around;
}
figure {
  width: min-content;
  float: right;
}
figure:nth-of-type(2n + 1) {
  float: left;
}
figure img {
  max-height: 7em;
  max-width: 10em;
}
figure figcaption {
  text-align: center;
}

h2 {
  text-align: center;
}

.infobox {
  float: right;
  width: 3em;
  background-color: #eee;
}

td img {
  max-height: 3em;
  max-width: 3em;
}

tr:nth-child(2n + 0) {
  background-color: #eee;
}

thead {
  font-weight: bolder;
}

tbody {
  border-top: 1px solid black;
}

table {
  border-collapse: collapse;
  text-align: center;
}

summary {
  font-size: 1.17em; /* Default font size for h3 */
  font-weight: bolder;
}

summary.doi {
  font-size: 1em;
  font-weight: normal;
}

/* Animate Details and Summary */
details {
  interpolate-size: allow-keywords;
}
details::details-content {
  height: 0;
}
details[open]::details-content {
  transition: height ease 900ms;
  overflow: hidden;
  height: auto;
}

caption {
  font-size: smaller;
  border-top: 1px solid;
  background-color: #eee;
  caption-side: bottom;
}
