@font-face {
  font-family: "ComicMono";
  src: url("ComicMono.ttf");
}

body {
    font-family: "ComicMono", cursive;
}
.image-list {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: space-around;
}
figure {
    width: min-content;
}
figure img {
    max-height: 7em;
    max-width: 10em;
}
figure figcaption {
    text-align: center;
}

h2 {
    text-align: center;
}

.infobox {
    float: right;
    width: 3em;
    background-color: #EEE;
}
